

.rotate-arrow {
    transition: .2s ease-out;
    transform: rotate(180deg);
}

.reverse-rotate-arrow {
    transition: .2s ease-out;
    transform: rotate(0deg);
}


/********************
* upload container
*********************/
.upload-container{
    /* display: block; */
    position: relative;
    /* cursor: pointer; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.upload-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 2;
}
